# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

aws-arn
certificate.pem
configuration.cnf
curl-test.txt
private-key.pem
